
body{
    text-align: center;
  background-image: url(images/Empty_Star.png);
    background-repeat: no-repeat; /*no tile affect*/
    background-attachment: fixed;/* text scrolls. over bg*/
    background-position: center top;
    background-color: #069;
    color: white; /*color the text white*/
    font-family: Verdana, Geneva, Tahoma, sans-serif8; /* font stack defaults*/
}
a:link{
    
color: (255,255,255); /* rab white and 100% opacity aka alpha*/   
text-decoration: none;
    
}

a:hover{
background-color: rbg(0,0,0);
text-decoration: none;

}

main{
margin: auto;
width: 80%; /*Absolute sizing*/
 padding: 20px;
border: solid 3px rgba(128,129,128,1);
/*height:200px*/
border-radius: 12px 24px;
text-align: left;


}

nav{
margin-bottom: 20px;
background-color: rgba(128, 129, 128, 0.61);
border: dashed 1px rgba(255,255,255,1);
border-radius: 6px;
height: 30px;
padding: 1px 4px 4px 4px;/* top right bottom left*/
margin: 0 auto;
width: 80%;
}


img{
width: 300px;
}
